<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>修改管理员密码</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/updatepwd.css}"/>
		<link rel="shortcut icon" th:href="@{/img/favicon.ico}">
		<script type="text/javascript" th:src="@{/js/updatepwd.js}"></script>
		<script type="text/javascript" th:inline="javascript">
		<script  type="text/javascript" th:src="@{/js/alert.js}"></script>
		<style>
			.alert-pormpt{//自定义提示框样式
			background:rgba(255,0,0,0.8);
				color:#fff;
			}
		</style>
			//权限控制
			if([[${msg}]] !=null){
					warning_prompt([[${msg}]])
					location.href = "login.html"
				}
			function update(){
				var password = $("[name=pwd]").val();
				var newpassword = $("[name=newpwd]").val();
				var confirmnewpwd = $("[name=confirm_newpwd]").val();
				var params = "password=" + password + "&newpassword=" + newpassword + "&confirmnewpwd=" + confirmnewpwd;
				var pattren = /^[a-zA-Z0-9]{6,18}$/;
				if(confirm("确认修改？") == true){
					if(password == null || password == ""){
						warning_prompt("当前密码不能为空！");
						return;
					}
					if(newpassword == null || newpassword == ""){
					    warning_prompt("新密码不能为空！");
					    return;
					}
					if(password == newpassword){
					    warning_prompt("当前密码不能与新密码相同！");
					    return;
					}
					if(!pattren.test(newpassword)){
						warning_prompt("新密码格式不正确！");
						return;
					}
					if(confirmnewpwd == null || confirmnewpwd == ""){
						warning_prompt("确认新密码不能为空！");
					    return;
					}
					if(confirmnewpwd != newpassword){
						warning_prompt("新密码与确认新密码不一致！");
					    return;
					}
				}else{
					return false;
				}
				$.post([[@{/umList/update}]],params,function(data){
					if(data == "修改成功，请使用新密码重新登录！"){
						window.top.location.href = "login.html";
					}
					warning_prompt(data);
				})
			}
			//返回
			function returns(){
				location.href="index";
			}
		</script>
	</head>
	<body>
		<h2>修改密码</h2>
		<form>
			<div class="updatepwd">
				<div class="form-group">
					<label for="pwd">原密码</label>
					<div>
						<input type="password" name="pwd" class="pwd form-control" placeholder="请输入原密码" style="display:inline-block"/>
					</div>
				</div>
				<div class="form-group">
					<label for="pwd">新密码</label>
					<div>
						<input type="password" name="newpwd" class="pwd form-control" placeholder="请输入新密码" style="display:inline-block"/>
					</div>
				</div>
				<div class="form-group">
					<label for="pwd">确认新密码</label>
					<div>
						<input type="password" name="confirm_newpwd" class="pwd form-control" placeholder="请输入新密码" style="display:inline-block"/>
					</div>
				</div>
				<input type="button" class="btn btn-info"  value="修改" onclick="update()" />
				<input type="button" class="btn btn-info"  value="返回"  onclick = "returns()"/>
				<input type="reset" class="btn btn-info"  value="重置" />
			</div>
		</form>
	</body>
</html>
